@import './../variables.scss';
@import './../fonts.scss';

.nav {
    font-family: "Roboto", sans-serif;
    overflow: hidden;

    &__top-line {
        display: block;
        width: 100vw;
        height: 2vh;
        background-color: $primary;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 2rem 5rem;

        &__img {
            width: 440px;
            height: 100px;
        }

        &__menu {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            
            &__auth {
                display: flex;
                justify-content: end;
                gap: 2rem;

                &__login, &__singin {
                    display: block;
                    border: 2px solid $primary;
                    border-radius: .5rem;
                    padding: .8rem 3rem;
                    color: $primary;
                    font-size: $standart;

                    text-decoration: none;
                    transition: 333ms ease-out;

                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }

            .nav__container__menu__links{
                display: flex;
                gap: 3rem;

                &__item {
                    color: $primaryLite;
                    text-decoration: none;
                    font-size: $standart;
                    transition: 333ms;
                    padding: .2rem .4rem;

                    &:hover {
                        background-color: $primary;
                        color: $white;
                        border-radius: 8px;
                        padding: .2rem .4rem;
                    }
                }

            }
            
        }
    }

}
